<nav class="navbar navbar-expand-md fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../assets/Photos/nss-lab-high-resolution-logo-transparent.png"
        alt=""
        srcset=""
        height="50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === '/' }"
            aria-current="page"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === '/team' }"
            routerLink="/team"
            >Team</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === '/equipment' }"
            routerLink="/equipment"
            >Equipment</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === '/publications' }"
            routerLink="/publications"
            aria-disabled="true"
            >Research & Publications</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === '/grants' }"
            routerLink="/grants"
            aria-disabled="true"
            >Grants</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === '/teaching' }"
            routerLink="/teaching"
            aria-disabled="true"
            >Teaching</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === '/seminars' }"
            routerLink="/seminars"
            aria-disabled="true"
            >Seminars and talks</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
