<nav class="navbar navbar-expand-md fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../assets/Photos/nss-lab-high-resolution-logo-transparent.png"
        alt=""
        srcset=""
        height="50"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a
            class="nav-link"
            [ngClass]="{ Active: router.url === item.link }"
            aria-current="page"
            (click)="closeDropdown()"
            [routerLink]="item.link"
            >{{ item.name }}</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
