<footer class="container-fluid uh-footer">
  <div class="row py-3">
    <div class="col-md-4 d-flex justify-content-center">
      <img
        src="../../assets/Photos/uh-logo.png"
        alt="University of Houston logo"
        class="img-fluid logo my-5"
      />
      <div class="ms-3 my-5">
        <p class="mb-0">University of Houston</p>
        <p class="mb-0">Houston, Texas 77204</p>
        <p class="mb-0">(713) 743-2255</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center my-5">
        <div id="address">
          &copy; 2024 The University of Houston. All rights reserved.<br />
          4800 Calhoun Road, Houston, Texas 77204<br />
          (713) 743-2255
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-links text-center my-5">
        <a href="http://www.uh.edu/" target="_blank">UH Home</a> |
        <a href="https://uh.edu/technology/" target="_blank">CoT Home</a> |
        <a href="http://www.uh.edu/search/directory/" target="_blank"
          >Directory</a
        >
        | <a href="http://www.uh.edu/visit/index" target="_blank">Visit</a
        ><br />
        <a href="http://www.uhsystem.edu/" target="_blank">UH System</a> |
        <a href="http://www.texas.gov" target="_blank">State of Texas</a> |
        <a href="http://www.uh.edu/policies/" target="_blank">Policies</a> |
        <a href="http://www.uh.edu/emergency/" target="_blank">Emergency</a> |
        <a
          href="http://www.uh.edu/equal-opportunity/titleIX-sexual-misconduct/"
          target="_blank"
          title="Title IX — Sexual Misconduct"
          >Title IX</a
        >
        |
        <a
          href="http://www.uhsystem.edu/privacy-notice/"
          target="_blank"
          title="UHS Privacy Notice"
          >UHS Privacy Notice</a
        >
      </div>
    </div>
  </div>
</footer>
