<div class="container">
  <section id="goals" data-aos="fade-up">
    <h3>Goals</h3>
    <p>
      The immediate goal is to introduce both mature and emerging knowledge in
      cybersecurity, software engineering, and computer information systems to
      CIS/Cybersecurity students at UH, training them to become workforce-ready
      information systems specialists. The long-term goal includes continuous
      improvement of the Cybersecurity Master program and development of a Ph.D.
      program in the College of Technology.
    </p>
  </section>
  <section id="teaching" data-aos="fade-up" data-aos-delay="100">
    <h3>Teaching Overview</h3>
    <p>
      Since Fall 2015, Dr. Zhang has taught two classes per semester, covering
      four undergraduate and two graduate courses. These courses have been
      consistently revised to reflect the latest in research and industry, with
      CIS 3355 and CIS 6397 being notably re-developed and newly developed,
      respectively.
    </p>
  </section>
  <section id="seminar" data-aos="fade-up" data-aos-delay="200">
    <h3>Graduate Seminar</h3>
    <p>
      Dr. Zhang led a bi-weekly seminar with Dr. Xuqing Wu and Dr. Lian-Chieh
      Cheng, focusing on research presentation and discussion, fostering a
      collaborative environment for generating new research ideas and enhancing
      presentation skills among graduate students.
    </p>
  </section>
  <section id="advising" data-aos="fade-up" data-aos-delay="300">
    <h3>Advising and Recruitment</h3>
    <p>
      Significant contributions include advising Ph.D. and master's students and
      recruiting undergraduates for research projects, playing a pivotal role in
      their academic and professional development.
    </p>
  </section>
  <section id="research" data-aos="fade-up" data-aos-delay="400">
    <h3>Educational Research Projects</h3>
    <p>
      Engagement in eight educational research projects, including a notable
      NSF-funded initiative, highlights Dr. Zhang's active contribution to
      advancing the field of cybersecurity education.
    </p>
  </section>
</div>
