<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Equipment</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of hardwareItems; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.item }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
