<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Equipment</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of hardwareItems; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.item }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h2>Hardware Resources</h2>
    <ul>
      <li>
        <strong>Workstations</strong>: Over 40 high-performance workstations are
        available for use, catering to the needs of complex computations,
        programming, and data analysis.
      </li>
      <li>
        <strong>Network Infrastructure</strong>: Equipped with modern routers
        and switches, the labs support high-speed data transfer and networking
        experiments, facilitating studies in areas such as cybersecurity,
        network management, and cloud computing.
      </li>
    </ul>
    <h2>Operating Systems and Development Tools</h2>
    <p>
      The department supports a diverse range of operating systems and
      development tools, enabling students and faculty to work in various
      programming environments and platforms:
    </p>
    <ul>
      <li>
        <strong>Operating Systems</strong>: Support for Windows 8, Windows 10,
        and UNIX provides a flexible base for software development, system
        administration, and academic research.
      </li>
      <li>
        <strong>C++ Integrated Development Tools</strong>: Comprehensive tools
        for C++ programming, supporting a wide range of development activities
        from basic applications to complex systems.
      </li>
      <li>
        <strong>Java Development Tools</strong>: A robust environment for Java
        development, enabling the creation of cross-platform applications and
        services.
      </li>
      <li>
        <strong>Borland JBuilder 3.0</strong>: An integrated development
        environment for Java programming, facilitating rapid application
        development and management.
      </li>
    </ul>

    <h2>Team-made Tools, Software, and Platforms</h2>
    <p>
      The department has also developed its own innovative tools and platforms,
      demonstrating its expertise in leveraging technology to address real-world
      problems:
    </p>
    <ul>
      <li>
        <strong>Data Flow Based Testing Toolkit</strong>: A custom toolkit
        designed to enhance software testing processes, improving efficiency and
        reliability in software development.
      </li>
      <li>
        <strong
          >Deep Learning Based High Performance Intelligent Monitoring
          System</strong
        >: This system incorporates advanced deep learning algorithms to offer
        solutions like abandoned object detection and water level detection,
        showcasing the department's strength in AI and machine learning.
      </li>
      <li>
        <strong
          >High Risk Patient Behavior Data Analysis and HIPPA-based Secure
          Mobile App and Back-end Management System</strong
        >: A comprehensive solution for monitoring high-risk patients, ensuring
        data security and compliance with HIPAA regulations, highlighting the
        department's commitment to healthcare technology.
      </li>
      <li>
        <strong>Blockchain Based Global Market Trading Platform</strong>: An
        innovative platform leveraging blockchain technology for secure and
        transparent global trading operations, illustrating the department's
        forward-thinking approach to fintech and blockchain applications.
      </li>
    </ul>
  </div>
</div>
