<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header"><div id="container"><div class="child1"><h1 class="project-name">The Network, Software and System(NSS) Laboratory</h1></div
	    ><div class="child2">
      			<h2 class="project-tagline">College of Technology, University of Houston</h2>
      			{% for page in site.pages %}
        			<a href={{ page.filename }} class="btn">{{ page.title }}</a>
      			{% endfor %}
    		</div>
	</div>    

    </section>
	  
    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
	<div id="footer-content">
		<center>
		<div id="address">
			&copy;2021 The University of Houston. All rights reserved.<br />
			4800 Calhoun Road, Houston, Texas 77204 (713) 743-2255</div>
		<p> <a href="http://www.uh.edu/" target="_blank">UH Home</a> | <a href="https://uh.edu/technology/" target="_blank">CoT Home</a> | <a href="http://www.uh.edu/search/directory/" target="_blank">Directory</a> | <a href="http://www.uh.edu/visit/index" target="_blank">Visit</a><br />
		<a href="http://www.uhsystem.edu/" target="_blank">UH System</a> | <a href="http://www.texas.gov" target="_blank">State of Texas</a> | <a href="http://www.uh.edu/policies/" target="_blank">Policies</a> | <a href="http://www.uh.edu/emergency/" target="_blank">Emergency</a> | <a href="http://www.uh.edu/equal-opportunity/titleIX-sexual-misconduct/" target="_blank" title="Title IX — Sexual Misconduct">Title IX &mdash; Sexual Misconduct</a> | <a href="http://www.uhsystem.edu/privacy-notice/" target="_blank" title="UHS Privacy Notice">UHS Privacy Notice</a> </p>
	</div>
		</center>
	</footer>
    </section>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
